/* Design of website used a modified template from http://templated.co under Creative Commons Attribution License */
/* URL of template used https://templated.co/adequately */

/* Following section taken unmodifed from https://templated.co/adequately */

html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}


/* Menu bar. Values and design taken directly from template with some minor modifications */

#menu
	{
	}
	
#menu ul
	{
		text-align: center;
	}
	
#menu li
	{
		display: inline-block;
	}
	
#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: black;
	}
	
#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
#menu .current_page_item a
	{
		background: #C0C0C0;
		border-radius: 8px;
		color: black;
	}


/* Following section written by me with guidance from www.w3schools.com and the source template */
/* Code that has a comment next to it is where it has been taken directly from the source template */

    /* Section 1 */

#header-section1
	{
		overflow: hidden;
		padding: 1.5em 0em; /* values taken from source template */
		background: #E5E4E2;
	}

#header
	{
     text-align:center;
	}

#intro
    {
        padding-top: 20px;
    }

#intro_1
    {
     padding-bottom: 10px
    }
#intro_2
    {
     font-style: italic;
     padding-bottom: 15px
    }

ul.HEADER {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

li.HEADER {
    display: inline;
}

    /* Section 2 */

#wrapper1
	{
		background: #242424; /* wrapper1 taken from template */
	}

#section2
	{
        overflow: hidden;
        padding-top: 5em;
        padding-bottom: 5em;
		text-align: center;
		color: darkgray;
    }

.introduction
    {
        padding: 0em 8em; /* values taken from template */
        padding-top: 20px;
        font-weight: bold;      
    }

.button /* Button values taken directly from template - only minor modification e.g. colour of button and added width */
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		background: #E5E4E2;
		border-radius: 8px;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #000000;
        margin-right: 15px;
        margin-left: 15px;
        width: 500px;
	}

    /* Section 3 */

#wrapper3 /* Taken from template */
	{
		background: #E5E4E2;
	}

#section3 /* Taken from template */
    {
        overflow: hidden;
        padding-top: 5em;
        padding-bottom: 5em;
		text-align: center;
		color: black;
    }


/* Column and box attributes taken from template with minor modifications */

.containersec3
	{
		margin: 0px auto;
		width: 1400px;
	}

.h3column
    {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

ul.portfoliolist
    {
        display: inline-block;
        list-style-type: disc;
        text-align: left;
        list-style-position: inside; 
        padding-bottom: 20px;
    }

li.portfoliolist
    {
        padding-bottom: 10px;
    }

.column1
    {
        width: 600px;
        text-align: center;
        float:left;
    }

.column2
    {
        width: 600px;
        text-align: left;
        float: left;
        padding-left: 190px; 
    }

.box
    {
        text-align: center;
		color: black;
    }

p.box
    {
        text-align: left;
    }

/* Values for button taken from template. Only colour and width modified by me */
.smallbutton
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		background: #000000;
		border-radius: 8px;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #E5E4E2;
        margin-right: 15px;
        margin-left: 15px;
        width: 290px;
	}


/* Copyright section. CSS values taken directly from the template */

#copyright
    {
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

/* About site CSS */

    
.aboutsitelink
    {
		text-decoration: none;
		color: rgba(255,255,255,0.6);
        font-style: italic;
        text-decoration: underline;
	}

.aboutsiteP
    {
        padding: 0em 8em; /* values taken from template */
        padding-top: 20px;
        font-weight: bold;
        text-align: left;
    }

#sectionabout
	{
        overflow: hidden;
        padding-top: 5em;
        padding-bottom: 8em;
		text-align: center;
		color: darkgray;
    }

/* About me section */

.h2aboutme
    {
        padding-top: 10px;
        padding-left: 10em;
        text-align: left
    }

.Paboutme
    {
        padding: 0em 8em; /* values taken from template */
        padding-top: 10px;
        padding-left: 15em;
        padding-right: 15em;
        font-weight: bold;
        text-align: left;
    }

#sectionaboutme
	{
        overflow: hidden;
        padding-top: 5em;
        padding-bottom: 3em;
		text-align: center;
		color: darkgray;
    }